---
layout: default
---
<div class="blurb">
    <h1>Recent posts</h1>
    {% for post in site.posts %}
        <span>{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% if post.excerpt %}
                <div class="excerpt">
                    {{ post.excerpt }}
                </div>
                <a href="{{ post.url }}" title="{{ post.title }}">Read more...</a>
                <hr />
            {% endif %}
        <p />
    {% endfor %}
</div><!-- /.blurb -->
