<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/blog">Blog</a></li>
            <li><a href="http://fp12.github.io/pyChallongeDiscordBot">Challonge Discord Bot</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
			<a href="http://github.com/fp12"><img src="{{ BASE_PATH }}/images/Github.png" /></a>
			<a href="http://twitter.com/fp12gaming"><img src="{{ BASE_PATH }}/images/Twitter.png" /></a>
		</footer>
	</body>
</html>
