<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/monokai.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Blog</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<p />
		<footer>
			<p />
			<a href="https://github.com/fp12"><img src="{{ BASE_PATH }}/images/Github.png" /></a>
			<a href="https://www.linkedin.com/in/fpoupineau"><img src="{{ BASE_PATH }}/images/LinkedIN.png" /></a>
		</footer>
	</body>
</html>
